body{
	margin: 0px;
	padding: 0;
	font-family: sans-serif;
	/*backgrond:#ff005c;*/

}


.container-wrapper{
	display: grid;
	grid-template-columns: 1fr;

}




.nav-wrapper{
	display: flex;
	justify-content: space-between;
	padding: 36px;

}

	.left-side{
		display: flex;
	}

nav-wrapper > .left-side > div{
		margin-right:  18px;
		font-size: 1.0em;
		text-transform: uppercase; 
	}




.nav-link-wrapper{
	height: 22px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper{
		color: #8a8a8a;
		text-decoration: none;
		transition-color: 0.5s;
}

	.nav-link-wrapper:hover{
		border-bottom: 1px solid black;

	}

	.nav-link-wrapper a:hover{
		border-bottom: 1px solid black;
		
	}

	.items-wrapper{
		 display: grid;
		 grid-template-columns: 1fr 1fr 1fr;

	}

	.item-wrapper{
		position: relative;
	}

	.item-img-background{
		height: 350px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size:cover 
	}

 	.img-text-wrapper{
 		position: absolute;
 		top:0;
 		display: flex;
 		flex-direction: column;
 		justify-content: center;
 		align-items: center;
 		height: 100%;
 		text-align: center;
 		padding-left: 100px;
 		padding-right: 100px; 

 	}


 	.logo-wrapper{
 		width: 50%;
 		margin:10px; 
 	}

.img-text-wrapper .subtitle{
	transition: 1s;
	color: transparent;
	font-weight: 600;

}

 	.img-text-wrapper:hover .subtitle{
 		font-weight: 600;
 		color: red;
 	}


.img-darken{
	transition: 1s;
	filter: brightness(10%);
}

.container{
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

}


